/**
 * \file  header.h
 * \brief Header for xmachine data structures and transition functions.
 */


#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <math.h>
#include <time.h>
<?if parallel?>#include <mpi.h><?end if?>

/** \def ARRAY_BLOCK_SIZE
 * \brief The block size to allocate to dynamic arrays. */
#define ARRAY_BLOCK_SIZE 5

/** \struct int_array
 * \brief Dynamic array to hold integers.
 *
 * Holds a pointer to an integer array and values for size and memory size.
 */
struct int_array
{
	int size;
	int total_size;
	
	int * array;
};

/** \struct double_array
 * \brief Dynamic array to hold doubles.
 *
 * Holds a pointer to a double array and values for size and memory size.
 */
struct double_array
{
	int size;
	int total_size;
	
	double * array;
};

/** \struct char_array
 * \brief Dynamic array to hold chars.
 *
 * Holds a pointer to a char array and values for size and memory size.
 */
struct char_array
{
	int size;
	int total_size;
	
	char * array;
};

/** \typedef struct int_array int_array
 * \brief Typedef for int_array struct.
 */
typedef struct int_array int_array;
/** \typedef struct double_array double_array
 * \brief Typedef for double_array struct.
 */
typedef struct double_array double_array;
/** \typedef struct char_array char_array
 * \brief Typedef for char_array struct.
 */
typedef struct char_array char_array;

<?foreach xagent?>
/** \struct xmachine_memory_$name
 * \brief Holds memory of xmachine $name.
 */
struct xmachine_memory_$name
{<?foreach xagentvar?>
	$type <?if dynamic_array?>* <?end if?>$name<?if static_array?>[$arraylength]<?end if?>;	/**< X-machine memory variable $name of type $type. */<?end foreach?>
};
<?end foreach?>
/** \struct xmachine
 * \brief Holds xmachines.
 */
struct xmachine
{<?foreach xagent?>
	struct xmachine_memory_$name * xmachine_$name;	/**< Pointer to X-machine memory of type $name.  */<?end foreach?>
	
	struct xmachine * next;	/**< Pointer to next X-machine in the list.  */
};
<?foreach message?>
/** \struct xmachine_message_$name
 * \brief Holds message of type $name.
 */
struct xmachine_message_$name
{<?foreach messagevar?>
	$type $name;	/**< Message memory variable $name of type $type. */<?end foreach?>
	
	struct xmachine_message_$name * next;	/**< Pointer to next message in the list. */
};
<?if parallel?>
/** \struct xmachine_message_$name_data
 * \brief Holds message data of type $name.
 */
struct xmachine_message_$name_data
{<?foreach messagevar?>
	$type $name;	/**< Message memory variable $name of type $type. */<?end foreach?>
};<?end if?>
<?end foreach?>
/** \typedef struct xmachine xmachine
 * \brief Typedef for xmachine struct.
 */
typedef struct xmachine xmachine;<?foreach xagent?>
/** \var typedef xmachine_memory_$name xmachine_memory_$name
 * \brief Typedef for xmachine_memory_$name struct.
 */
typedef struct xmachine_memory_$name xmachine_memory_$name;<?end foreach?><?foreach message?>
/** \typedef xmachine_message_$name xmachine_message_$name
 * \brief Typedef for xmachine_message_$name struct.
 */
typedef struct xmachine_message_$name xmachine_message_$name;
<?if parallel?>/** \typedef xmachine_message_$name_data xmachine_message_$name_data
 * \brief Typedef for xmachine_message_$name_data struct.
 */
typedef struct xmachine_message_$name_data xmachine_message_$name_data;<?end if?><?end foreach?>
<?foreach xagent?><?foreach function?>
int $name();<?end foreach?><?end foreach?>

/** \struct location
 * \brief Holds location for calculating space partitioning .
 */
struct location
{
	double point;		/**< Point on an axis. */
	double iradius;	/**< Interaction Radius. */
	
	struct location * next;	/**< Pointer to next location on the list. */
};

/** \struct node_information
 * \brief Holds node information .
 */
struct node_information
{
	int node_id;	/**< Node ID. */
	double partition_data[6];	/**< Defines bounding box. */
	int agents_in_halo;	/**< Number of agents in the halo region. */
	int agent_total;	/**< Total number of agents on the node. */
	struct xmachine * agents;	/**< Pointer to list of X-machines. */
<?foreach message?>	struct xmachine_message_$name * $name_messages;	/**< Pointer to $name message list. */
<?end foreach?><?if parallel?><?foreach message?>	int $name_message_no;	/**< Number of $name messages in list to send. */
<?end foreach?><?foreach xagent?>	struct xmachine * $name_agents;	/**< Pointer to $name agent list. */
	int $name_agent_no;	/**< Number of $name agents in list to send. */
<?end foreach?><?end if?>	
	struct node_information * next;	/**< Pointer to next node on the list. */
};

<?if parallel?>/** \struct space_partition
 * \brief Holds space partition information .
 */
struct space_partition
{
	int node_id;	/**< Node ID. */
	double partition_data[6];	/**< Defines bounding box. */
};
/** \typedef struct space_partition space_partition
 * \brief Typedef for space_partition struct.
 */
typedef struct space_partition space_partition;<?end if?>
/** \typedef struct location location
 * \brief Typedef for location struct.
 */
typedef struct location location;
/** \typedef struct node_information node_information
 * \brief Typedef for node_information struct.
 */
typedef struct node_information node_information;
<?foreach envvar?>$type $name;<?end foreach?>
/** \var xmachine * temp_xmachine
* \brief Pointer to xmachine to initialise linked list. */
xmachine * temp_xmachine;
<?foreach message?>
/** \var xmachine_message_$name * temp_$name_message
* \brief Pointer to xmachine_message_$name to initialise linked list. */
xmachine_message_$name * temp_$name_message;<?end foreach?>
/** \var node_information * temp_node_info
* \brief Pointer to node_information to initialise linked list. */
node_information * temp_node_info;
/** \var char outputpath[100]
* \brief Output path for files. */
char outputpath[100];
/** \var long total_time
* \brief Total time for the simulation run */
int total_time;
/** \var int total_messages
* \brief Total messages sent between nodes for the simulation run */
int total_messages;
/** \var int totalnodes
* \brief Number of nodes */
int totalnodes;
/** \var xmachine ** p_xmachine
* \brief Pointer to first pointer of x-machine memory list */
xmachine ** p_xmachine;
/** \var xmachine * current_xmachine
* \brief Pointer to current x-machine memory that is being processed */
xmachine * current_xmachine;
<?foreach message?>
/** \var xmachine_message_$name ** p_$name_message
* \brief Pointer to first pointer of $name message list */
xmachine_message_$name ** p_$name_message;<?end foreach?>
<?foreach message?>
/** \var xmachine_message_$name * $name_message
* \brief Pointer to message struct for looping through $name message list */
xmachine_message_$name * $name_message;<?end foreach?>
/** \var node_information ** p_node_info
* \brief Pointer to first pointer of node list */
node_information ** p_node_info;
/** \var node_information * current_node
* \brief Pointer to current node */
node_information * current_node;
<?if parallel?>
/** \var MPI_Status status
* \brief MPI status */
MPI_Status status;
/** \var MPI_Datatype spacePartitionType
* \brief MPI space partition type */
MPI_Datatype spacePartitionType;
<?foreach xagent?>
/** \var MPI_Datatype xmachine$nameType
* \brief MPI ", $name xmachine */
MPI_Datatype xmachine$nameType;
<?end foreach?>
<?foreach message?>
/** \var MPI_Datatype message$nameType
* \brief MPI ", $name message */
MPI_Datatype message$nameType;
<?end foreach?>
/** \var int node_number\n * \brief Node number (identifier for node) */
int node_number;
<?end if?>
/** \var int iteration_loop
* \brief The current iteration number */
int iteration_loop;
/** \var int output_frequency
* \brief Frequency to output results */
int output_frequency;
/** \var int use_binary_output
* \brief Tag to save results in a binary file */
int use_binary_output;
/** \var int next_avaliable_id
* \brief Next avaliable id number for a new agent */
int next_avaliable_id;

/** \def SPINF
* \brief Dummy inf value for space partition data. */
#define SPINF 999999.123456
/** \def RELEASE
* \brief Used to kill an agent via 'return RELEASE;'. */
#define RELEASE 1
/** \def kill_me_now
* \brief Used to kill an agent via 'kill_me_now'. */
#define kill_me_now return 1

void initialise_pointers();
void add_location(double point, double iradius, location ** p_location);
void freelocations(location ** p_location);
void add_node(int node_id, double minx, double maxx, double miny, double maxy, double minz, double maxz);
void clean_up(int code);
void propagate_agents();
void create_partitions(char * filename, int * itno);
void free_node_info();
void randomisexagent();
void free_agent();
void freexmachines();

int_array * init_int_array();
void reset_int_array(int_array * array);
void free_int_array(int_array * array);
void sort_int_array(int_array * array);
void add_int(int_array * array, int new_int);
void remove_int(int_array * array, int index);
void print_int_array(int_array * array);
double_array * init_double_array();
void reset_double_array(double_array * array);
void free_double_array(double_array * array);
void sort_double_array(double_array * array);
void add_double(double_array * array, double new_double);
void remove_double(double_array * array, int index);
void print_double_array(double_array * array);
char_array * init_char_array();
void reset_char_array(char_array * array);
void free_char_array(char_array * array);
void add_char(char_array * array, char new_char);
void remove_char(char_array * array, int index);
char * copy_array_to_str(char_array * array);
void print_char_array(char_array * array);
/* xml.c */
void readinitialstates(char * filename, int * itno, int flag);
void saveiterationdata_binary(int iteration_number);
void saveiterationdata(int iteration_number);
<?foreach xagent?>
void add_$name_agent(<?foreach xagentvar?>$type <?if dynamic_array?>* <?end if?>$name<?if static_array?>[]<?end if?><?if notlast?>, <?end if?><?end foreach?>);<?end foreach?>
<?foreach message?>
void add_$name_message(<?foreach messagevar?>$type $name<?if notlast?>, <?end if?><?end foreach?>);
xmachine_message_$name * get_first_$name_message();
xmachine_message_$name * get_next_$name_message(xmachine_message_$name * current);
void free$namemessages();<?end foreach?>
<?foreach allvar?>
void set_$name($type $name);
$type get_$name();<?end foreach?>
